;
; BIND reverse data file for cluster local
;
$TTL	604800
@	IN	SOA	cluster.local. root.cluster.local. (
				  1		; Serial
				12h		; Refresh
				15m		; Retry
				 4w		; Expire
				 2h )	; Negative Cache TTL
;
@	IN	NS	dns-server1.
@	IN	NS	dns-server2.
{% for host in groups["all"] -%}
{{ hostvars[host].ansible_host | split(".") | last }}	IN	PTR	{{ host }}.cluster.local.
{% endfor %}