zone "cluster.local" {
    type secondary;
    file "/etc/bind/db.cluster.local";
    masters { {{ hostvars["dns-server1"].ansible_host }}; };
};

zone "{{ reverse_dns_base }}.in-addr.arpa" {
    type secondary;
    file "/etc/bind/db.{{ reverse_dns_prefix }}";
    masters { {{ hostvars["dns-server1"].ansible_host }}; };
};

zone "{{ apps_domain }}" {
    type secondary;
    file "/etc/bind/db.{{ apps_domain }}";
    masters { {{ hostvars["dns-server1"].ansible_host }}; };
};