*.retry
ssh/
certs/
.cache/
.tmp/
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
ansible/playbooks/vault-server/vault_init.json
ansible/inventory/hosts
ansible/inventory/vars.json
root_token_*.txt