ui = true
disable_mlock = true

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
}

service_registration "consul" {}

storage "raft" {
  path = "/var/vault"
  node_id = "{{ ansible_hostname }}"

  {% for host in groups["vault_servers"] -%}
  retry_join {
    {# leader_api_addr = "http://{{ hostvars[host].ansible_host }}:8200" #}
    leader_api_addr = "http://{{ host }}.{{ local_cluster_domain }}:8200"
  }
  {% endfor -%}
}

api_addr     = "http://{{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}:8200"
cluster_addr = "http://{{ '{{' }} GetInterfaceIP \"eth0\" {{ '}}' }}:8201"
