;
; BIND data file for local cluster
;
$TTL	604800
@	IN	SOA	{{ local_cluster_domain }}. root.{{ local_cluster_domain }}. (
				  3		; Serial
				12h		; Refresh
				15m		; Retry
				 4w		; Expire
				 2h )	; Negative Cache TTL
;
@	IN	NS	dns-server1.{{ local_cluster_domain }}.
@	IN	NS	dns-server2.{{ local_cluster_domain }}.
{% for host in groups["all"] -%}
{{ host }}	IN	A	{{ hostvars[host].ansible_host }}
{% endfor -%}

{% for host in groups["consul_servers"] -%}
consul.{{ external_domain }}.	IN	CNAME	{{ host }}.{{ local_cluster_domain }}.
{% endfor -%}

{% for host in groups["vault_servers"] -%}
vault.{{ external_domain }}.	IN	CNAME	{{ host }}.{{ local_cluster_domain }}.
{% endfor -%}

{% for host in groups["nomad_servers"] -%}
nomad.{{ external_domain }}.	IN	CNAME	{{ host }}.{{ local_cluster_domain }}.
{% endfor -%}